{% extends 'Squelette.twig' %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-center mb-5 mt-5">ListeArticles</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="list-group mb-5">
                    {% for article in articles %}
                        <div class="list-group-item list-group-item-action">
                            <a href="{{ url_for('article_get', {'id': article.id}) }}" class="text-decoration-none text-dark">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h5 class="mb-1">{{ article.titre }}</h5>
                                    <small class="text-muted">Publié le {{ article.date_creation | date('d/m/Y à H:i') }}</small>
                            </div>
                                {% apply markdown_to_html %}
                                    {{ article.resume }}
                                {% endapply %}
                            </a>
                            <form action="{{ url_for('liste_articles_post') }}" method="post" class="form-inline">
                                <div class="form-check">
                                    {% if article.publie == 1 %}
                                        <input type="checkbox" name="publie" class="form-check-input" checked onchange="this.form.submit()">
                                    {% else %}
                                        <input type="checkbox" name="publie" class="form-check-input" onchange="this.form.submit()">
                                    {% endif %}
                                    <input type="hidden" name="id" value="{{ article.id }}">
                                    <label class="form-check-label" for="publie">Publié</label>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                {% if estConnecte %}
                    <div class="text-center mb-5">
                        <a href="{{ url_for('add_articleByCategorie_get') }}" class="btn btn-primary">Créer un article</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
